body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    font-size: larger;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000080;
    padding: 20px 20px;
}

.nav-content {
    color: white;
    text-decoration: none;
}

.caste-nav, .caste {
    background-color: #000080;
    color: white;
    padding: 5px 10px;
}

.archives-nav, .archives {
    background-color: #FEDF00;
    padding: 5px 10px;
    color: black;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    text-align: center;
    font-size: 5em;
    font-weight: bold;
}

.blinking-cursor {
    font-weight: bold;
    color: #000080;
    animation: blink 1s infinite;
    /* No need for absolute positioning */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .nav-content {
        flex-direction: column;
        text-align: center;
    }

    .main-content {
        font-size: 2em; /* Smaller font for mobile */
        padding: 0 20px; /* Add padding on smaller screens for some spacing */
    }
}
